 .u-section-1 {
  background-image: url("images/-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 817px;
}

.u-section-1 .u-group-1 {
  width: 649px;
  min-height: 421px;
  height: auto;
  margin: 57px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 15px 15px;
}

.u-section-1 .u-text-1 {
  font-family: Almarai;
  font-size: 4.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 1.125rem;
  font-weight: 700;
  font-family: Almarai;
  margin: 127px 0 0 auto;
  padding: 8px 53px 8px 51px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 79px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-1 .u-group-1 {
    width: 465px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
    margin-left: 106px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 498px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 126px;
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 65.93% 50%;
  }

  .u-section-1 .u-group-1 {
    margin-top: 67px;
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 132px;
    margin-left: auto;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 368px;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin: 75px auto 13px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 12px) calc(25% - 12px) calc(25% - 12px) calc(25% - 12px);
  min-height: 280px;
  grid-gap: 16px 16px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  background-image: linear-gradient(to right, #ebe7c4, white);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-1 {
  height: 78px;
  width: 78px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-family: Almarai;
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px 4px 0;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  background-image: linear-gradient(to right, #ebe7c4, white);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-2 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-family: Almarai;
  margin: 20px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px 4px 0;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  background-image: linear-gradient(to right, #ebe7c4, white);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-3 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-family: Almarai;
  margin: 20px auto 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px 4px 0;
}

.u-section-2 .u-list-item-4 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  background-image: linear-gradient(to right, #ebe7c4, white);
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-4 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(77, 77, 77) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-family: Almarai;
  margin: 20px auto 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px 4px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 263px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 16px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 8px) calc(50% - 8px);
    min-height: 532px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 3px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 484px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 29px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 1px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 1px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

.u-section-2 .u-list-item-4,
.u-section-2 .u-list-item-4:before,
.u-section-2 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-1,
.u-section-2 .u-list-item-1:before,
.u-section-2 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-2,
.u-section-2 .u-list-item-2:before,
.u-section-2 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-3,
.u-section-2 .u-list-item-3:before,
.u-section-2 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}.u-section-3 .u-sheet-1 {
  min-height: 858px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 7px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  background-image: none;
  min-height: 537px;
}

.u-section-3 .u-image-1 {
  height: 516px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 342px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 31px 0 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Almarai;
  margin: 131px auto 0;
  padding: 7px 77px 9px 75px;
}

.u-section-3 .u-layout-cell-3 {
  background-image: none;
  min-height: 879px;
}

.u-section-3 .u-container-layout-3 {
  padding-bottom: 30px;
}

.u-section-3 .u-shape-1 {
  height: 584px;
  width: 375px;
  margin: 175px 0 0 auto;
}

.u-section-3 .u-image-2 {
  width: 419px;
  height: 495px;
  margin: -531px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 949px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 443px;
  }

  .u-section-3 .u-image-1 {
    height: 425px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 325px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 725px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 393px;
  }

  .u-section-3 .u-image-1 {
    height: 326px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 300px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 555px;
  }

  .u-section-3 .u-shape-1 {
    height: 615px;
    width: 269px;
    margin-top: 31px;
  }

  .u-section-3 .u-image-2 {
    width: 308px;
    height: 342px;
    margin-top: -418px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1197px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 7px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 502px;
  }

  .u-section-3 .u-image-1 {
    height: 489px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 148px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 30px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 541px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 0 0 1px;
  }

  .u-section-3 .u-shape-1 {
    height: 423px;
    width: 312px;
    margin-top: -6px;
    margin-right: 40px;
  }

  .u-section-3 .u-image-2 {
    width: 412px;
    margin-top: -393px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 319px;
  }

  .u-section-3 .u-image-1 {
    height: 308px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 132px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 430px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-3 .u-shape-1 {
    height: 322px;
    width: 253px;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 297px;
    height: 255px;
    margin-top: -299px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 796px;
}

.u-section-4 .u-shape-1 {
  height: 656px;
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  width: 1005px;
  height: 525px;
  margin: -559px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-group-1 {
  width: 506px;
  min-height: 509px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  height: auto;
  margin: -382px calc(((100% - 1140px) / 2) + 17px) 46px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 97px 0 0;
}

.u-section-4 .u-text-2 {
  line-height: 2;
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 104px auto 0;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 798px;
  }

  .u-section-4 .u-image-1 {
    width: 842px;
    height: 491px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-group-1 {
    margin-top: -347px;
    margin-right: calc(((100% - 940px) / 2));
    margin-bottom: 48px;
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1097px;
  }

  .u-section-4 .u-shape-1 {
    height: 476px;
  }

  .u-section-4 .u-image-1 {
    width: 645px;
    height: 511px;
    margin-top: -379px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-group-1 {
    margin-top: -80px;
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 872px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 9px;
  }

  .u-section-4 .u-image-1 {
    width: 493px;
    height: 461px;
    margin-top: -388px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-group-1 {
    width: 457px;
    min-height: 396px;
    margin-top: -90px;
    margin-right: calc(((100% - 540px) / 2));
    margin-bottom: 9px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    font-size: 2.75rem;
    margin-top: 15px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 931px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 336px;
    margin-left: auto;
  }

  .u-section-4 .u-group-1 {
    width: 320px;
    margin-top: 53px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 750px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  width: 765px;
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 17px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 70px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 329px;
  grid-gap: 20px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0;
}

.u-section-5 .u-text-4 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0;
}

.u-section-5 .u-text-6 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0;
}

.u-section-5 .u-text-8 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-9 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0;
}

.u-section-5 .u-text-10 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 271px;
  }

  .u-section-5 .u-text-3 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-text-5 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-text-7 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-text-9 {
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 962px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-list-1 {
    margin-top: 42px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 622px;
  }

  .u-section-5 .u-text-3 {
    font-size: 4.5rem;
  }

  .u-section-5 .u-text-5 {
    font-size: 4.5rem;
  }

  .u-section-5 .u-text-7 {
    font-size: 4.5rem;
  }

  .u-section-5 .u-text-9 {
    font-size: 4.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-3 {
    font-size: 4.0625rem;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-5 {
    font-size: 4.0625rem;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-7 {
    font-size: 4.0625rem;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-9 {
    font-size: 4.0625rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-5 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-7 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-9 {
    font-size: 3rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 857px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 966px;
  margin: 60px auto 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 616px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  text-transform: none;
  margin: 0 auto;
}

.u-section-6 .u-form-1 {
  height: 299px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-6 .u-form-group-4 {
  margin-left: 0;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
}

.u-section-6 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-6 .u-btn-2 {
  border-style: none;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Almarai;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 30px auto 60px;
  padding: 12px 130px 13px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 599px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-form-group-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 831px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2rem;
  }

  .u-section-6 .u-btn-2 {
    margin-left: 0;
    margin-right: 0;
    padding-right: 84px;
    padding-bottom: 12px;
    padding-left: 82px;
  }
}

.u-section-6 .u-btn-2,
.u-section-6 .u-btn-2:before,
.u-section-6 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-btn-2.u-btn-2.u-btn-2:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-6 .u-btn-2.u-btn-2.u-btn-2.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}